
footer{
	font-family: Monaco, Verdana;
	background-color: #F8F8F8;
	width: 100%;
	height: 80px;
	bottom: 0;
	text-align: center;
position: fixed;
}

.redes{
	top: 93.5%;
	left: 90%;
	text-align: center;
position: fixed;
}

.redes2{
	top: 93.5%;
	left: 93%;
	text-align: center;
position: fixed;
}

.redes3{
	top: 93.5%;
	left: 96%;
	text-align: center;
position: fixed;
}